<div class="profile-page">
  <h2 align="center"> <%= @user.username %>'s Profile </h2>
  <div class="pic-container">
    <%= gravatar_for @user, 150 %>
  </div>
  <div class="profile-page-articles">
    <%= render 'articles/article', obj: @user_articles %>
    <div class="paginate-container"> 
      <%= will_paginate @user_articles%>
    </div>
  </div>
</div>