$navbar-default-bg: rgb(25, 47, 83);
@import "bootstrap";


.center {
  text-align: center
}


.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px; 
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-list-container {
  border-radius: 10px;
  background-color: #F0F0F0;
  margin-bottom:10px;
  padding:10px;
}

.user-form-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.register-form{
  display: flex;
  width:70%;
  flex-direction: row;
  justify-content: center;
  form {
    width:50%;
    p { //register button
      text-align: center;
    }
  }
}

.profile-page {
  margin-top:4%;
  .profile-page-articles {
    margin-top:4%;
  }
  .pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile-pic {
    border-radius: 50%;
  }
}

.page-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.flash-message {
  text-align: center;
  margin-top:15px;
}

.paginate-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagination {
  li {
    padding:10px;
  }
}

.logged-in {
  width:150px;
  ul {
    justify-content: space-around;
    a {
      text-align: right
    }
    }
  .drop-ul{
    margin-top:10px;
    background-color:#F8F8F8;

    a:hover {
      text-decoration: underline;
    }
  }
}