$navbar-default-bg: rgb(25, 47, 83);
@import "bootstrap";

.container {
  margin-top:2%;
}

.navbar-custom {
  background-color: rgb(25, 47, 83);
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  .navbar-left{
    display: flex;
    flex-direction: row;
  }
  
  .navbar-center{
    display: flex;
    flex-direction: row;
    width:30%;
    justify-content: center;
  
    form {
      display: flex;
      flex-direction: row;
      width:90%;
      justify-content: space-around;
      input {
        width:75%;
      }
      button {
        width:20%;
      }
    }


  }
  
  .navbar-right{
    display: flex;
    flex-direction: row;

    .logged-in {
      width:150px;
      ul {
        justify-content: space-between;
        a {
          text-align: right
        }
      }
      .drop-ul{
        margin-top:10px;
        background-color:#F8F8F8;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

}


.center {
  text-align: center
}


.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px; 
}

.article-footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}

.description {
  margin-top: 0;
}

// .article-index-container {
//   margin-top: 5%;
// }

.article-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  a{
    font-weight: bold;
    font-size: 1.5em;
  }

  .article-options {
    a {
      font-weight: normal;
      font-size:0.90em;
    }
  }

}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-list-container {
  border-radius: 10px;
  background-color: #F0F0F0;
  margin-bottom:15px;
  padding:15px;
}

.user-form-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.register-form{
  display: flex;
  width:70%;
  flex-direction: row;
  justify-content: center;
  form {
    width:50%;
    p { //register button
      text-align: center;
    }
  }
}

.profile-page {
  margin-top:4%;
  .profile-page-articles {
    margin-top:4%;
  }
  .pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #article-counter {
    margin-top:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-pic {
    border-radius: 50%;
  }
}

.page-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.flash-message {
  text-align: center;
  margin-top:15px;
}

.paginate-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagination {
  li {
    padding:10px;
  }
}
