  <div class="jumbotron center">
    <h1 class="display-5">Simple Blog</h1>
    <hr class="my-4">
    <p>Please register to post articles</p>
    <p class="lead">
      <%= link_to "Register","register", class: "btn btn-primary btn-lg", role: "button" %>
    </p>
  </div>

